<tr>
	<td
		style="
			padding: 30px;
			background-color: #f9fbfd;
			border-top: 1px solid #edf2f7;
			text-align: center;
			font-family: 'Segoe UI', Arial, sans-serif;
			color: #a0aec0;
			font-size: 12px;
		"
	>
		<p style="margin: 0 0 10px 0">
			Вы получили это письмо, потому что зарегистрировались на сайте Donation.
		</p>
		<p style="margin: 0">© 2026 Donation Inc. Все права защищены.</p>
	</td>
</tr>
